<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Media a {{ pregunta.pregunta }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-4 text-center">Añadir Media a</h2>
        <h4 class="mb-3 text-center">{{ pregunta.pregunta }}</h4>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mt-4 text-center">
                                <button type="submit" class="btn btn-primary mr-2">Guardar Media</button>
                                <a href="{% url 'lista_preguntas' encuesta_id=pregunta.encuesta.id %}" class="btn btn-secondary">Volver</a>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>